@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#hero{
  background-image: url('./assets/hero.jpg');
}
html {
  scroll-behavior: smooth;
}